{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/adds.css')}}"> {% endblock %} {% block content%}

<body>
    <div class="form-container">
        <form action="/adds" method="post" enctype="multipart/form-data">
            <div class="in">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>

                <div class="form-group">
                    <label for="class">Dept:</label>
                    <select name="dept" id="">
                        <option value="cs">Bsc-cs</option>
                        <option value="b.com">B.com</option>
                        <option value="bca">Bca</option>


                    </select>
                </div>


                <div class="form-group">
                    <label for="mobile">Mobile:</label>
                    <input type="tel" id="mobile" name="mobile" pattern="[0-9]{10}" required>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="role">Role:</label>
                    <select name="role" id="">
                        <option value="nonstaff">non teaching staff</option>
                        <option value="staff">teaching staff</option>

                    </select>
                </div>
                <div class="form-group">
                    <label for="file">UPLOAD IMAGE:</label>
                    <input type="file" id="file" name="file" accept=".png, .jpg, .svg">
                </div>

            </div>

            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
    </div>
    </form>
    </div>
</body>

{% endblock %}